 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


 .work-sans-body {
     font-family: "Work Sans", sans-serif;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;

 }

 * {
     margin: 0;
 }

 .bg-gray {
     max-width: 100%;
     background-color: rgb(253, 248, 243, 255);
     padding-top: 45px;
 }


 /* sharing style */

 .section-container {
     max-width: 1200px;
     margin: 0 auto;
 }

 .display-flex,
 ul {
     display: flex;
 }

 .btn-primary {
     background-color: rgb(255, 140, 0);
 }

 .btn-style {
     color: white;
     font-weight: 800;
     font-size: 1rem;
     border-radius: 5px;
     border: none;
     padding: 15px 20px;
 }


 /* header style*/
 .header-container {
     justify-content: space-between;
     align-items: center;
 }

 ul li {
     list-style: none;
     margin-left: 40px;
 }

 ul li a {
     text-decoration: none;
 }

 .title-name {
     font-weight: 900;
     font-size: 2rem;
 }

 .banner-container {
     max-width: 600px;
     margin: 0 auto;
     text-align: center;
     margin-bottom: 50px;
     margin-top: 80px;
 }

 .banner-container p {
     color: rgb(96, 130, 160);
     font: 1.2rem;
 }

 .banner-title {
     font-weight: 700;
     font-size: 3rem;
     letter-spacing: 0.02em;

 }

 .banner-description {
     margin: 50px 0px;
 }

 .banner-image {
     width: 100%;
 }

 /* team and  quick feature */

 .team-quice-feature {
     display: flex;
     gap: 50px;
     margin-top: 120px;
 }

 .team-container {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 20px;
 }

 .team-container div {
     /* width: 100%; */
     flex: 1;
     aspect-ratio: 1 / 1;
     overflow: hidden;
     border-radius: 8px;
 }

 .team-container img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center;
 }

 .quick-feature-container {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .quick-title {
     font-weight: 700;
     font-size: 2.4em;
     letter-spacing: 0.02em;
 }

 .quick-list {
     color: rgb(132, 142, 152);
 }

 .feature-word {
     color: rgb(255, 140, 0);
 }


 .feature-desciption {
     margin: 50px 0px;
 }

 /* features enjoy style */

 .feature-enjoy-container {
     margin-top: 80px;
     display: flex;
     gap: 30px;
 }

 .feature-enjoy-title {
     font-weight: 700;
     font-size: 2em;
     margin-bottom: 20px;
     border-left: 5px solid rgb(255, 140, 0);
     padding-left: 10px;
 }


 .vertical-box {
     max-width: 800px;
     background-color: rgb(255, 255, 255);
     padding: 30px;
     box-shadow: 0px 4px 30px rgba(147, 10, 10, 0.06);
     transition: transform 0.3s ease;
 }

 .vertical-box:hover {
     transform: translateX(6px)
 }

 .vertical-info-title {
     margin-bottom: 20px;
     font-weight: 800;
     font-size: 1.2rem;
 }

 .vertical-image {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .vertical-image img {
     width: 400px;
     height: 600px;
     object-fit: cover;
     object-position: center;
     border-radius: 20px;

 }

 .Experience-btn {
     margin-top: -50px;
     margin-right: 350px;
     border: none;
     padding: 20px 30px;
     border-radius: 10px;
     color: white;
 }

 .years-style {
     font-weight: 600;
     color: white;
     font-size: 2em;
     text-align: center;
 }

 /* soem facts style */
 .some-fact-container {
     margin-top: 200px;
 }

 .some-fact-title {
     font-weight: 700;
     font-size: 2.2em;
     margin-bottom: 10px;
 }

 .fact-card-container {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 20px;
     margin-top: 50px;
 }

 .card-box {
     border: 1px solid rgb(255, 140, 0);
     width: 200px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 20px;
 }

 .card-box:hover {
     border: 2px solid rgb(255, 140, 0);
 }

 .emoji {
     font-size: 50px;
 }

 .number {
     font: 800;
     font-size: 50px;
     margin: 20px 0px;
 }

 .title {
     font: 700;
     font-size: 20px;
 }

 .sponsor-title {
     margin-bottom: 20px;
     font: 800;
     font-size: 2.4em;
 }

 .sponsor-main {
     margin-top: 180px;
     text-align: center;
 }

 .sponsor-container {
     margin-top: 50px;
     /* display: flex; */
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     gap: 100px;
     justify-content: center;
     align-items: center;
 }

 .sponsor-container img {
     width: 50px;
 }

 .image-name {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

 .company-name {
     margin-top: 10px;
 }

 .footer-container {
    margin-top: 100px;
     background-color: rgb(253, 248, 243, 255);
     text-align: center;
     padding: 40px;
 }



 /* responsive small device */

 @media screen and (max-width:576px) {

     .work-sans-body {
         padding: 5px;
     }

     .display-flex,
     ul,
     .team-quice-feature,
     .feature-enjoy-container {
         flex-direction: column;
     }

     ul {
         margin-top: 10px;
     }

     ul li {
         margin-left: 0px;
         margin-bottom: 8px;
     }

     .banner-title {
         font-weight: 700;
         font-size: 2rem;
         letter-spacing: 0.02em;
     }

     .team-container,
     .fact-card-container {
         grid-template-columns: repeat(1, 1fr);
     }

     .team-quice-feature {
         flex-direction: column-reverse;
     }


     .quick-feature-container {
         text-align: center;
         text-align: center;
     }

     .vertical-box,
     .card-box {
         width: 100%;
         padding: 0px;
     }

     .Experience-btn {
         margin-top: -20px;
         margin-left: 350px;
         border: none;
         padding: 20px 30px;
         border-radius: 10px;
     }

     .vertical-image img {
         width: 100%;
         border-radius: 10px;

     }


     .card-box {
         padding: 20px 0px;
     }

     .sponsor-container {
         margin-top: 50px;
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: 100px;
         justify-content: center;
         align-items: center;
     }
 }